<div class="task priority_<%= task.priority %> completed_<%= task.completed %>">
  <div class="tasks">
    <p><span class="create">Owner: <%= task.user.nickname %></span></p>
    <p><span class="title"><%= task.title %></span></p>
    <p><span class="title"><%= task.description %></span></p>
    <p><span class="create"><%= task.created_at.strftime("Create: %d.%m.%Y --- %H:%M") %></span></p>
    <p><span class="deadline"><%= task.deadline.strftime("TO DO %d.%m.%Y --- %H:%M") %></span></p>
  </div>
  <% if current_user_can_edit?(@todolist) %>
    <%= link_to content_tag('span', 'Edit task', class: 'btn btn-warning'), edit_todolist_task_path(@todolist, task), class: 'action' %>
    <%= link_to content_tag('span', 'Delete task', class: 'btn btn-danger'), todolist_task_path(@todolist, task), class: 'action', method: :delete %>
    <%= link_to content_tag('span', 'Complete task', class: 'btn btn-success'), complete_todolist_task_path(@todolist, task), data: { method: :put }, class: 'done action' %>
  <% end %>
</div>
