<!DOCTYPE html>
<html>
  <head>
    <title>Todoshka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/fdd730e526.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>

  <body id="body" class="dark-mode">
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
      <div class="row buffer-top">
        <button type="button" name="dark_light" onclick="randomize()" title="Toggle dark/light mode">🌛</button>
      </div>

      <div class="row buffer-top">
        <button type="button" name="dark_light" onclick="toggleDarkLight()" title="Toggle dark/light mode">🌛</button>
      </div>
    </div>   
  </body>
</html>
